*{
	margin:0;
	padding: 0;
}
/*导航栏*/
.header-home {
    box-shadow: 0px 2px 4px rgba(1, 1, 1, 0.15);
    height: 54px;
    padding-top: 7px;
    width: 100%;
    opacity: 0.85;
    background-color: #fff;
}
.row .header-nav {
	margin-top: -4px;

}
.row .header-nav li {
	list-style: none;
	background:url(../image/nav-logo.PNG) no-repeat;
	float: left;
	line-height:40px;
	margin-left: 30px;
	margin-top:2px;
	width: 100px;
}
.row .header-nav a {
	text-decoration: none;
    color: #fff;
    padding-left: 20px;
    font-size: 14px;
}
.header-nav ul li a:hover{
	color: #000;
}
.box-nav{
	margin-top: 60px;
   background: url(../image/4.jpg) no-repeat;
   height: 150px;
   margin-left: 200px;

 }
 .consult{
	width: 100%;
	height: 60px;
	border-bottom: 1px solid #888686;
	width: 80%;
	margin-left: 200px;
	padding-top: 30px;
}
 .consult .p1{
 	float: left;
 	display: inherit;
	font-weight: bold;
	display: inline-block；
 }
 .consult .p2{
 	display: inherit;
 	margin-left: 1260px;
 	display: inline-block； 
}
.new-consult{
	border-bottom: 2px solid #888686;
	margin-top: 20px;
	width: 80%;
	margin-left: 200px;
}
.new-consult span{
	font-weight: bold;
	font-size: 24px;	
}
.new-top{
	list-style: none;
	float: left;
	margin-top: 40px;
	border: 1px solid #A19f9f;
	margin-left: -150px;
	width: 1500px;
	height: 185px;
}
.new-top .new-left img{
	float: left;
	margin-left: -10px;
	margin-top:2px;
}
.new-right{
	float: left;
	width: 950px;
	margin-left: 100px;
	margin-top: 15px;
}
.new-right ul{
	list-style: none;
	font-weight: bold;
}
.new-right .li1{
	font-size: 25px;
}
.new-right ul li{
	line-height: 30px;

}
.new-right ul li a{
	text-decoration:none;
	color: #333;
}
.new-right ul li a:hover{
	color: #000;
}
.footer{
	width: 100%;
	height: 240px;
	background-color: #c0c0c0;
	float:left;
	margin-top: 100px;
}
.footer .footer-logo{
	float: left;
	margin-left: 400px;
}
.footer .footer-link{
	font-weight:900;
	padding: 10px;
	margin-left: 80px;
	padding-top: 50PX;
    float: left;
}
.footer-link{
	width: 1100px;
}
.footer-link img{
	width: 200px;
	height: 40px;
	margin-left: 100px;
	margin-top: -10px;
}
.footer-link p{
	line-height: 35px;
	margin-left: -100px;
	margin-top: 20px;
	color: #333;
	font-size: 16px;
}
.footer-tupian img{
	display: inline-block;
    padding-top: 50px;
    margin-left: 300px;
}
.footer-tupian p{
	font-size: 14px;
	padding-top: 14px;
	margin-left: 313px;
	
}
